.AddTask{
	display: flex;
   justify-content: space-between;
   margin: 30px 0px;
}

.containerInputAddTask{
   border: 2px #E8E8E8 solid;
   padding: 8px 12px;
   width: 90%;
   border-radius: 4px;
   background-color: white;
   display: flex;
   justify-content: center;
}

.inputAddTask{
   all: unset;
   height: 16px;
   width: 100%;
}

.buttonSubmit{
   padding: 8px;
   background-color: #1890FF;
   width: 10%;
   margin-left: 10px;
   border-radius: 4px;
   color: #fff;
}