   .ssss{
      --color-blue: #0052A5;
      --color-gray: #333333;
      --color-white: #FFFFFF;
      --color-grayish: #ECECEC;
      --color-navy_blue: #003C78;
      --color-azure: #D2E9FF;
      --color-red: #A50000;
      --color-light_gray: #B7B7B7;
      
      
      
      --color-_blue: #1890FF;

      /* backGround */
      --color-_gray :#F9F9F9;
      /* border */
      --color-_gray2 :#E8E8E8;
   }
