.TasksList{
   width: 100%;
   box-sizing: border-box;
   background-color: #FFFFFF;
   border: 1px #E8E8E8 solid;
   
}

.header{
   padding: 21px 15px;
   font-weight: 500;
   font-size: 17px;
}

.listContainer{
   margin-top: 30px;
}

.hr{
   border: 1px #E8E8E8 solid;
   /* margin: 8px 0px; */
   margin: 0px;
}
.hr2{
   border: 1px #E8E8E8 solid;
   margin: 0px 15px;
   /* margin: 0px 15px; */
}