.TasksList {
   width: 100%;
   box-sizing: border-box;
   background-color: #FFFFFF;
   border: 1px hsl(0, 0%, 74%) solid;
   margin: 30px 0px;
}

.header {
   padding: 21px 15px;
   font-weight: 500;
   font-size: 17px;
}

.hr {
   border: 1px hsl(0, 0%, 74%) solid;
   margin: 0px;
}

.hr2 {
   border: 1px hsl(0, 0%, 74%) solid;
   margin: 0px 15px;
}